---
import Layout from '../../layouts/Layout.astro';
import fetchApi from '../../lib/strapi';
import type { SearchPage } from '../../interfaces/SearchPage';
import SearchComponent from '../../components/SearchComponent';
const searchPage = await fetchApi<SearchPage[]>({
  endpoint: 'search-page',
  wrappedByKey: 'data',
  lang: 'en'
});

---

<Layout title={ searchPage.attributes.title } locale="en" metaDescription="Search for the site content."
  engUrl="search" fiUrl="haku" currentUrl="search" currentSlug="search"
  >
  <div class="max-w-[1564px] mx-auto md:px-8-px">
    <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
      <h1 id="skip-target" class="text-3xl font-bold mt-4 mb-2 lg:text-4xl">{ searchPage.attributes.title }</h1>
    </div>
    <SearchComponent client:load searchLabel="Search for content" searchButton="Search" searchLangLabelEn="Content language: English"
      searchLangLabelFi="Content language: Finnish" searchDescription="The search engine does not have language support yet so the search will provide you with both site languages."
      searchResultPageLabel="Pages: " searchResultDemoLabel="Demos: " searchResultLabel="results" searchDemoLink="Jump to demo results"
      searchNoResults="No results." searchMainHeading="Search results for:"
    />
  </div>
</Layout>