---
import Layout from '../../layouts/Layout.astro';
import fetchApi from '../../lib/strapi';
import type { SearchPage } from '../../interfaces/SearchPage';
import SearchComponent from '../../components/SearchComponent';
const searchPage = await fetchApi<SearchPage>({
  endpoint: 'search-page',
  wrappedByKey: 'data',
  lang: 'fi'
});

---

<Layout title={ searchPage.attributes.title } locale="fi" metaDescription="Sivustohaku mahdollistaa hakemisen molemmilla kielillä."
  engUrl="search" fiUrl="haku" currentUrl="haku" currentSlug="haku" alternateFi="fi/haku" alternateEn="en/search" type="search"
  >
  <div class="max-w-[1564px] mx-auto md:px-8-px">
    <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
      <h1 id="skip-target" class="text-3xl font-bold font-heading mt-4 mb-2 lg:text-4xl">{ searchPage.attributes.title }</h1>
    </div>
    <SearchComponent client:load searchLabel="Hae sisältöä" searchButton="Hae" searchLangLabelEn="Sisällön kieli: englanti"
      searchLangLabelFi="Sisällön kieli: suomi" searchDescription="Hakukone ei vielä tue kieliversiointia, joten haku tarjoaa tuloksia molemmilla sivuston kielillä."
      searchResultPageLabel="Sivut: " searchResultDemoLabel="Demot: " searchResultLabel="tulosta" searchDemoLink="Hyppää demosivujen tuloksiin"
      searchNoResults="Ei tuloksia." searchMainHeading="Hakutulokset haulle:"
    />
  </div>
</Layout>