---
import fetchApi from '../../lib/strapi';
import type { FrontPage, Notice } from '../../interfaces/frontpage';
import type { ExoveBlog } from '../../interfaces/blogInterfaces';
import Layout from '../../layouts/Layout.astro';
import ExoveBlogHighlights from '../../components/ExoveBlogHighlights.astro';

const frontPage = await fetchApi<FrontPage>({
  endpoint: 'front-page',
  wrappedByKey: 'data',
  lang: 'fi'
});

const posts = await fetchApi<ExoveBlog>({
  endpoint: 'exove-blogs',
  wrappedByKey: 'data',
  lang: 'fi'
});

const notice = await fetchApi<Notice>({
  endpoint: 'notice',
  wrappedByKey: 'data',
  lang: 'fi'
});
---

<Layout title={ frontPage.attributes.title } locale={ frontPage.attributes.locale} metaDescription={ frontPage.attributes.metaDescription }
  currentType="front" currentUrl="front" fiUrl="front" engUrl="front" alternateFi="fi" alternateEn="en" type="search"
>
  <div class="max-w-[1564px] mx-auto md:px-8-px md:flex">
    <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
      <h1 id="skip-target">{ frontPage.attributes.title }</h1>
      <div class="text-xl bodytext"><Fragment set:html={ frontPage.attributes.content } /></div>
    </div>
    { (notice.attributes.noticeContent) ?
      <div class="max-w-xl mx-4 sm:mx-auto border-8 p-8 md:mt-12 bg-lt-blue-light text-lt-gray self-start
          dark:gradient-border-dark dark:bg-dk-purple dark:text-dk-gray gradient-border-light dark:radient-border-dark shadow-md">
        { notice.attributes.noticeContent }
      </div>
    :
      null
    }

  </div>
  <ExoveBlogHighlights slot="blogs"
    title="Uusimmat kirjoitukseni Exoven blogissa"
    intro="Yritän tehdä osuuteni Exoven tavoitteessa poistaa digiturhautumista kirjoittamalla saavutettavuudesta Exoven blogissa."
    posts={posts}
    bgClass="bg-gray"
  />
</Layout>