---
import fetchApi from '../lib/strapi';
import type { NotFound } from '../interfaces/notFound';
import Layout from '../layouts/Layout.astro';
import BlogHighlights from '../components/BlogHighlights.astro';

import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);

const notFoundEn = await fetchApi<NotFound>({
  endpoint: 'not-found',
  wrappedByKey: 'data',
  lang: 'en'
});

const notFoundFi = await fetchApi<NotFound>({
  endpoint: 'not-found',
  wrappedByKey: 'data',
  lang: 'fi'
});

let notFound = notFoundEn;

if (lang === 'fi') {
  notFound = notFoundFi;
}

---

<Layout title={ notFound.attributes.title } locale={ notFound.attributes.locale} metaDescription={ notFound.attributes.metaDescription }
  currentType="front" currentUrl="front" fiUrl="front" engUrl="front" alternateFi="fi" alternateEn="en"
>
  <div class="max-w-[1564px] mx-auto md:px-8-px">
    <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
      <h1 id="skip-target">{ notFound.attributes.title }</h1>
      <div class="text-xl bodytext"><Fragment set:html={ notFound.attributes.content } /></div>
    </div>
  </div>
  { (lang === "en") ?
  <BlogHighlights slot="blogs" />
  : null }
</Layout>