---
import Layout from '../layouts/Layout.astro';
---

<Layout title="DrupalCamp 2025 resources" locale="en" metaDescription="Our recommended materials for DrupalCamp 2025 presentation"
  currentType="front" currentUrl="front" fiUrl="front" engUrl="front" alternateFi="fi" alternateEn="en"
>
  <div class="max-w-[1564px] mx-auto md:px-8-px">
    <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
      <h1 id="skip-target">DrupalCamp 2025 resources</h1>
      <div class="text-xl bodytext">
        <ul>
          <li>
            <a href="https://aaardvarkaccessibility.com/wcag-plain-english">Aaardvark WCAG Criteria in plain English</a>
          </li>
          <li>
            A11ying (this website :))
          </li>
          <li>
            <a href="https://www.w3.org/WAI/ARIA/apg/practices/">APG Practises</a>
          </li>
          <li>
            <a href="https://www.w3.org/WAI/ARIA/apg/patterns">APG Patterns</a>
          </li>
          <li>
            <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA">MDN Aria Guide</a>
          </li>
          <li>
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements">MDN HTML elements reference</a>
          </li>
          <li>
            <a href="https://www.selkeastimeille.fi/">Selkeästi meille (in Finnish)</a>
          </li>
          <li>
            <a href="https://www.drupal.org/project/decorative_image_widget">Drupal module: Decorative image widget</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>