---
import fetchApi from '../lib/strapi';
import type { FrontPage, Notice } from '../interfaces/frontpage';
import type { ExoveBlog } from '../interfaces/blogInterfaces';
import Layout from '../layouts/Layout.astro';
import BlogHighlights from '../components/BlogHighlights.astro';
import ExoveBlogHighlights from '../components/ExoveBlogHighlights.astro';

const frontPage = await fetchApi<FrontPage>({
  endpoint: 'front-page',
  wrappedByKey: 'data',
  lang: 'en'
});

const posts = await fetchApi<ExoveBlog>({
  endpoint: 'exove-blogs',
  wrappedByKey: 'data',
  lang: 'en'
});

const notice = await fetchApi<Notice>({
  endpoint: 'notice',
  wrappedByKey: 'data',
  lang: 'fi'
});
---

<Layout title={ frontPage.attributes.title } locale={ frontPage.attributes.locale} metaDescription={ frontPage.attributes.metaDescription }
  currentType="front" currentUrl="front" fiUrl="front" engUrl="front" alternateFi="fi" alternateEn="en" type="front"
>
  <div class="max-w-[1564px] mx-auto md:px-8-px">
    <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
      <h1 id="skip-target">{ frontPage.attributes.title }</h1>
      <div class="text-xl bodytext"><Fragment set:html={ frontPage.attributes.content } /></div>
    </div>
    { (notice.attributes.noticeContent) ?
      <div class="max-w-xl mx-4 sm:mx-auto border-8 p-8 md:mt-12 bg-lt-blue-light text-lt-gray self-start
          dark:gradient-border-dark dark:bg-dk-purple dark:text-dk-gray gradient-border-light dark:radient-border-dark shadow-md">
        { notice.attributes.noticeContent }
      </div>
    :
      null
    }
  </div>
  <BlogHighlights slot="blogs" />
  <ExoveBlogHighlights slot="blogs"
    title="My newest blog posts on accessibility in Exove's blog"
    intro="I'm also trying to do my part in Exove's mission to defrustrate the digital by sharing my accessibility knowledge in the company blog."
    posts={posts}
    />
</Layout>