---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Koodia Suomesta -webinaarin materiaalit" locale="fi" metaDescription="Koodia Suomesta -webinaarin materiaalit"
  currentType="front" currentUrl="front" fiUrl="front" engUrl="front" alternateFi="fi" alternateEn="en"
>
  <div class="max-w-[1564px] mx-auto md:px-8-px">
    <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
      <h1 id="skip-target">Koodia Suomesta -webinaarin materiaalit</h1>
      <div class="text-xl bodytext">
        <ul>
          <li>
            <a lang="en" href="https://aaardvarkaccessibility.com/wcag-plain-english">Aaardvark WCAG Criteria in plain English</a>
          </li>
          <li>
            A11ying (eli tämä sivusto :))
          </li>
          <li>
            <a lang="en" href="https://www.w3.org/WAI/ARIA/apg/practices/">APG Practises</a>
          </li>
          <li>
            <a lang="en" href="https://www.w3.org/WAI/ARIA/apg/patterns">APG Patterns</a>
          </li>
          <li>
            <a lang="en" href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA">MDN Aria Guide</a>
          </li>
          <li>
            <a lang="en" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements">MDN HTML elements reference</a>
          </li>
          <li>
            <a href="https://www.selkeastimeille.fi/">Selkeästi meille</a>
          </li>
          <li>
            <a lang="en" href="https://webaim.org/techniques/keyboard/#testing">WebAIM: Keyboard Accessibility</a>
          </li>
        </ul>
        <h2>Exoven webinaarit saavutettavuudesta</h2>
        <ul>
          <li>
            <a href="https://www.exove.com/fi/webinaarit/webinaari-tiistaina-23-5-tavoitteena-laajempi-yleiso-optimoi-sisaltosi-saavutettavuus/">Tavoitteena laajempi yleisö – optimoi sisältösi saavutettavuus</a>
          </li>
          <li>
            <a href="https://www.exove.com/fi/mk-aamukahviseura-5-1-kaytannon-vinkkia-verkkosisaltojen-saavutettavuuteen/">MK Aamukahviseura: 5 + 1 käytännön vinkkiä verkkosisältöjen saavutettavuuteen</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>




